{% extends 'OperatorApp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Edit
{% endblock %}

{% block content %}

<div class="container">

  <h1 class="text-center my-4">Edit Operator</h1>

  
  <div style="width: 100%;">
    <div style="display:table; margin: 0 auto;">
      <form method='post' action="{% url 'operator:edit' %}">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <div class="text-center">
          <button type="submit" class="btn btn-md btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>


</div>

{% endblock %}
  



