{% extends 'OperatorApp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock %}


<!-- Display a form for logging in -->
{% block content %}
    <br>
    <div class="text-center">
        <strong>Login</strong>
        <form id="login_form" method="post" action="{% url 'operator:login' %}">
            {% csrf_token %}

            {{ form|crispy }}
            <br />
            <div class="text-center">
                <input type="submit" class="btn btn-md btn-primary" value="LOGIN" />
            </div>
        </form>
    </div>
{% endblock %}