{% extends 'OperatorApp/base.html' %}

{% block title %}
    Operators
{% endblock %}

<!-- This template will display all operators after an operator logs in-->
{% block content %}
  <div class="container">
      <h1 class="text-center my-4">Operators</h1>
      {% if operators %}
      <div class="table-responsive-xl">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <th>Name</th>
              <th>Modes</th>
              <th>Homepage</th>
              <th>API URL</th>
              <th>Language</th>
              <th>Phone number</th>
              <th>Email Address</th>
              <th>Active</th>
            </tr>
  
            {% for operator in operators %}
            <tr>
              <td>{{operator.name}}</td>
              <td>
                <ul>
                  {% for mode in operator.modes.all %}
                  <li>{{mode.short_desc}}</li>
                  {% endfor %}
                </ul>
              </td>
              <td>{{operator.homepage}}</td>
              <td>{{operator.api_url}}</td>
              <td>{{operator.default_language}}</td>
              <td>{{operator.phone}}</td>
              <td>{{operator.email}}</td>
              <td>{{operator.active}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
          <<strong>There are no operators</strong>
        {% endif %}
      </div>

  </div>

{% endblock %}
